<html>
    <head>
        <title>Google Form Submitter</title>
    </head>
    <body>
        <form action="" method="POST">
                <div class="col-lg-2">
        
            <div class="form-group">
                <label for="link">Link</label>
                <input type="text" class="form-control" name="link" placeholder="Enter Link">
            </div>
        </div>
        <div class="col-lg-2"
            <div class="form-group">
                    <label for="num">Number</label>
                    <input type="number" class="form-control" name="num" placeholder=" Enter Number">
            </div>
        </div>
            <div class="form-group">
                <button type="submit" name="login">Login</button>
            </div>
        </form>
    </body>
</htll>
